*{
    box-sizing: border-box;
}
    body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f181 0%, #7e96ff 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 400px;
    margin: 50px auto;
    background: linear-gradient(135deg, #7e96ff 0%, #f5f181 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container h1{
    text-align: center;
    color: #08022f;
    margin-bottom: 20px;
}

.task input{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
.task textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    height: 120px;
    resize: vertical;
}

.task button{
    width: 100%;
    padding: 10px;
    background-color: #1743b4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}